---
import { Image } from "astro:assets";
import culturalGirlImage from "../../public/cultural-girl.png";
import HeroImage from "~/components/hero-image.astro";

const widths = [450, 800];
const sizes = "(min-width: 640px) 42vw, 67vw";
---
<section class="relative h-full bg-black -z-20 overflow-hidden">
  <!-- Polygon background -->
  <div id="bg" class="absolute inset-0 -z-10"></div>

  <div id="splash-bg-fallback" class="absolute inset-0 hidden opacity-40">
    <HeroImage />
  </div>
  
  <div class="relative grid h-full place-items-center sm:grid-cols-2">
    <h2 class="flex flex-col items-center gap-2 self-end sm:gap-4 sm:self-auto sm:justify-self-end">
      <img src="/main-logo.png" class="size-20 text-white md:size-32" alt="Main KAHP Logo">
      <div class="text-center font-extrabold tracking-tighter text-6xl md:text-8xl text-white">
        KAHP
        <br /> Legado
        <br /> Africano
      </div>
    </h2>
    <div id="cultural-girl" class="w-2/3 max-w-3xl self-start sm:w-10/12 sm:self-auto sm:justify-self-start">
      <Image
        class="h-full w-full object-cover"
        src={culturalGirlImage}
        widths={widths}
        sizes={sizes}
        loading="eager"
        alt="A floating cultural girl in a space suit"
      />
    </div>
  </div>
</section>

<noscript>
  <style>
    #splash-bg-fallback {
      display: block;
    }
  </style>
</noscript>

<style is:inline>
  @keyframes float {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      transform: translate3d(0, 30px, 0);
    }
  }

  #cultural-girl {
    animation: float linear 6.5s infinite alternate;
    margin-left: 13rem;
    margin-top: 2rem;
    width: 100%;
  }

  @media (prefers-reduced-motion: reduce) {
    #astronaut {
      animation: none;
    }
    #splash-bg-fallback {
      display: block;
    }
  }

  /* Style for the polygon background */
  #bg {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensure it stays behind the other elements */
  }
</style>

<script src="../../public/js/polygon-animation.js" is:inline defer></script>